body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.success {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    background-size: cover;
    margin: auto;
}

.containers {
    display: flex;
    flex-direction: column;
}

.rch1 {
    margin-left: 400px;
}

.lch1 {
    margin-left: 160px;
}